<body class="addProfile">
    <main>
    <form action="/movies/add" method="post">
        <label for="dogName">Naam:</label>
        <input id="dogName" type="text" name="dogName" placeholder="Rudolf" required>

        <label for="age">Leeftijd:</label>
        <input id="age" type="number" name="age" placeholder="20" required>

        <label for="breed">Hondenras:</label>
        <div class="autocomplete">
            <input id="myInput" type="text" name="breed" placeholder="Border collie">
        </div>

        <label for="about">Over de hond:</label>
        <textarea name="about" id="about" cols="30" rows="10" placeholder="Vertel iets over jezelf!"></textarea>

        <input type="submit" value="Submit">
        </form>
    </main>

    <script src="/js/script.js"></script>
</body>