<body class="bgGreen">
    <ul>
		{{#each profielen}}
			<li><a href="/profile/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></li>
		{{/each}}

		<li><a href="/addProfile">+ Voeg profiel toe</a></li>
	</ul>

	<script src="/js/script.js"></script>
</body>
