html, body, * {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
    font-family: sans-serif;
    text-decoration: none;
}



/* TYPO */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
    font-weight: normal;
}

a {
    color: black;
}



/* Header */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #5dbb5d;
    height: 180px;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 0% 0% 35px 35px;
}

nav {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

nav img {
    height: 1.8em;
    margin: 1em;
}

nav a:nth-of-type(2) img{
    height: 1.5em;
}

header ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0em 3em;
}

header li {
    align-self: center;
}

header li:nth-child(2) {
    align-self: flex-start;
    text-align: start;
    margin-left: -19px;
}

header ul img {
    height: 2em;
}

header ul a {
    display: none;
}

.display {
    display: inherit;
}

.displayNone {
    display: none;
}

header > img {
    align-self: center;
    height: 7em;
    width: 7em;
    position: absolute;
    bottom: -3.5em;
    border-radius: 100%;
    border: solid #5dbb5d 5px;
    background-color: #5dbb5d;
    object-position: center;
    object-fit: cover;
}

#profilePicture {
    background-image: url(../images/profilePicture.jpg);
}



/* Main */

main {
    padding: 0 1.5em;
}

main ul:first-of-type {
    display: flex;
    margin-top: 4em;
    justify-content: space-between;
    align-items: baseline;
}

main ul:first-of-type li {
    display: flex;
    align-items: baseline;
    width: 100%;
}

main ul:first-of-type li img {
    height: 1.5em;
}

main ul:first-of-type li:last-of-type {
    justify-content: center;
}

main ul:first-of-type li:last-of-type h4 {
    padding-left: .3em;
}

main > h3 {
    margin-top: 1em;
}

main > p {
    margin-top: .5em;
}

main ul:last-of-type {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

main ul:last-of-type li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ul:last-of-type img {
    display: block;
    position: relative;
    height: 5em;
    width: 5em;
    border-radius: 100%;
    background-color: #5dbb5d;
    object-fit: cover;
    object-position: 50% 50%;
}

main ul:last-of-type img:nth-child(2) {
    object-position: 40% 50%;
}

main ul:last-of-type h5 {
    margin-top: .7em;
    font-size: 1em;
}

main > span:last-of-type {
    display: flex;
    justify-content: center;
}

main > span:last-of-type a {
    display: inline-block;
    font-weight: bold;
    margin-top: 1.5em;
    color: white;
    background: #2c4b2c;
    padding: .6em 1em;
    border-radius: 2em;
    width: auto;
    display: flex;
}

/* Snelle homepage voor nav feature */

.bgGreen {
    padding: 2em;;
    background-color: #5dbb5d;
}

.bgGreen li {
    margin: 1em;
}

.bgGreen a {
    color: white;
    text-decoration: underline;
}

.bgGreen li:last-of-type {
    margin-top: 3em;
}

.bgGreen li:last-of-type a {
    background-color: #2c4b2c;
    padding: .6em 1.2em;
    border-radius: 2em;
    
    text-decoration: none;
}

/* addProfile */
.addProfile {
    padding: 0;
    color: white;
}

.addProfile nav {
    justify-content: flex-start;
    align-items: center;
}

.addProfile h2 {
    font-size: 1.2em;
    margin: auto;
    font-weight: 600;
}

form {
    margin-top: 1em;
}

.prPic {
    display: flex;
    width: fit-content;
    align-items: center;
}

.prPic > span {
    display: flex;
    align-items: center;
    height: fit-content;
    font-size: .9em;
    margin-left: 1.5em;
    background-color: #2c4b2c;
    padding: .6em 1.2em;
    border-radius: 2.4em;
    cursor: pointer;
}

.prPic > span img {
    height: 1em;
}

.prPic p {
    display: inline-block;
    height: fit-content;
    margin-left: 1em;
    text-decoration: underline;
}

.prPic div {
    position: relative;
    height: 6em;
    width: 6em;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prPic div > img {
    height: 6em;
    width: 6em;
    object-fit: cover;
    border-radius: 5em;
    transition: opacity ease .4s;
}

.prPic div span {
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 6em;
    height: 6em;
    border-radius: 5em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity ease .2s;
    cursor: pointer;
}

.prPic div span > img {
    position: absolute;
    height: 2.3em;
    pointer-events: none;
}

.prPic div span:hover {
    opacity: 1;
    transition: opacity ease .4s;
}


input[name="prPic"] {
    display: none;
}

input[type=text], input[type=number], textarea, select {
    width: 80%;
    padding: .8em 1em;
    display: block;
    border: none;
    border-radius: 1em;
    color: #2c4b2c;
    font-weight: 500;
    outline-color: #2c4b2c;
}

input[type=text]::placeholder, input[type=number]::placeholder, textarea::placeholder, select::placeholder {
    color: hsla(120, 26%, 23%, .7);
    font-weight: 500;
}

textarea {
    resize: vertical;
}
  
input[type=submit] {
    display: block;
    margin: auto;
    margin-top: 2em;
    background-color: #2c4b2c;
    color: white;
    padding: .8em 1.5em;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color .25s ease, color .25s ease;
}
  
input[type=submit]:hover {
    transition: background-color .25s ease, color .25s ease;
    color: #2c4b2c;
    background-color: white;
}

input[type=number] {
    width: 3em;
}

label {
    display: block;
    margin-top: 1em;
    margin-bottom: .2em;
}

/* AUTOCOMPLETE */
.autocomplete {
    width: 100%;
    display: block;
    position: relative;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    display: block;

    left: 0;
    right: 0%;
    width: calc(80% + 1.5em);
    border: 1px solid #ccc;
    border-radius: 0px 0px 4px 4px;
  }
  
  .autocomplete-items div {
    position: relative;
    cursor: pointer;
    background-color: #fff; 
    padding: .8em 1em;
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }